@page "/csharppractice"

<h3>C# Practice Component</h3>

<p>This is a Blazor component practicing C#.</p>

@code {
    private int roll;

    // On component initialization
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Random dice = new Random();
        roll = dice.Next(1, 7);
    }
}

<p>Random Roll: @roll</p>
